.login-box-container{
    margin:0;
    padding: 0;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    height: auto;
    left: 0;
   min-height: 100%;
   min-width: 674px;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: -1;
}
.login-box{
    width: 320px;
    height: 420px;
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 40px;
}



h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.login-box input{
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"], input[type="password"]{
    border: none;
    background:transparent;
    border-bottom: 1px solid #ffffff;
    outline: none;
    height: 40px;
    color: #ffffff;
    font-size: 16px;
}

.login-box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #ffffff;
    font-size: 18px;
    border-radius: 20px;
}

.login-box input[type="submit"]:hover{
  cursor: pointer;
  background:#800080;
  color: #000000;
}

.login-box .forget{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}

.login-box .forget:hover{
    color: #800080;
}

.login-box .register{
    color: #538000;
    font-size: 16px;
   
}

.login-box .register:hover{
    color: #538000;
}


h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}







